:root{
  --kursiv-text: 'Neucha';
  --main-font: 'PoiretOne';
  --title-font: 'anastasiascriptc';
  --background-color:  #FBF8E7;
  --kursiv-color: #F78BC5;
  --button-color: #B4B4B4;
  --bg-color: #FCFCFC;
  --color-text: #000;
  --timer-font: 'GentiumPlus';
}